#                     **Explorartory Data Analysis**
Performing **EDA** for Budget Sales Anaysis

---


<br>

- **PROBLEM STATEMENT:** Our "Domain Sale" process is structured to help potential buyers purchase the domain they want immediately without the hassle of contacting the seller directly. A seller lists a domain for sale at a specific price in our Marketplace. An interested buyer sees this domain for sale and decides to buy it. <br>

<br>

 - **OBJECTIVE:**
- Analyze sales data to identify key trends and patterns.
- Compare the given data sets to understand relevant information
- Extract and analyze information about products and customers.


- **Given:**
 - Calender
  - Territory
  - Customer
  - Sales

# **Import the libraries and the Data Set**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import chardet
plt.style.use("seaborn-v0_8-whitegrid")
import warnings
warnings.filterwarnings('ignore')

In [ ]:
territory= pd.read_csv("/content/Territory BSA.csv",dtype={'SalesTerritoryKey':str})



with open('/content/customer BSA.csv', 'rb') as f:
    result = chardet.detect(f.read())
customer = pd.read_csv("/content/customer BSA.csv",dtype={'CustomerKey':str},
                              parse_dates=['BirthDate','DateFirstPurchase'],
                              encoding=result['encoding'])

product = pd.read_csv("/content/product BSA.csv",dtype={'ProductKey':str},
                      parse_dates=['StartDate'])

sales = pd.read_csv("/content/sales BSA.csv",
                    dtype={'ProductKey':str,
                          'CustomerKey':str,
                          'PromotionKey':str,
                          'SalesTerritoryKey':str},
                    parse_dates=['OrderDate', 'ShipDate'])

# **CUSTOMER DATA SET**

In [ ]:
customer

,CustomerKey,FirstName,LastName,FullName,BirthDate,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,Education,Occupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,DateFirstPurchase,CommuteDistance
0,11000,Jon,Yang,"Yang, Jon",08-04-1966 00:00,M,M,90000,2,0,Bachelors,Professional,1,0,3761 N. 14th St,2014-01-22,1-2 Miles
1,11001,Eugene,Huang,"Huang, Eugene",14-05-1965 00:00,S,M,60000,3,3,Bachelors,Professional,0,1,2243 W St.,2014-01-18,0-1 Miles
2,11002,Ruben,Torres,"Torres, Ruben",12-08-1965 00:00,M,M,60000,3,3,Bachelors,Professional,1,1,5844 Linden Land,2014-01-10,2-5 Miles
3,11003,Christy,Zhu,"Zhu, Christy",15-02-1968 00:00,S,F,70000,0,0,Bachelors,Professional,0,1,1825 Village Pl.,2014-01-01,5-10 Miles
4,11004,Elizabeth,Johnson,"Johnson, Elizabeth",08-08-1968 00:00,S,F,80000,5,5,Bachelors,Professional,1,4,7553 Harness Circle,2014-01-26,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,Tommy,Tang,"Tang, Tommy",04-07-1958 00:00,M,M,30000,1,0,Graduate Degree,Clerical,1,0,"111, rue Maillard",2015-09-08,0-1 Miles
18480,29480,Nina,Raji,"Raji, Nina",10-11-1960 00:00,S,F,30000,3,0,Graduate Degree,Clerical,1,0,9 Katherine Drive,2016-07-18,0-1 Miles
18481,29481,Ivan,Suri,"Suri, Ivan",05-01-1960 00:00,S,M,30000,3,0,Graduate Degree,Clerical,0,0,Knaackstr 4,2014-08-13,0-1 Miles
18482,29482,Clayton,Zhang,"Zhang, Clayton",05-03-1959 00:00,M,M,30000,3,0,Bachelors,Clerical,1,0,"1080, quai de Grenelle",2015-09-22,0-1 Miles
18483,29483,Jésus,Navarro,"Navarro, Jésus",08-12-1959 00:00,M,M,30000,0,0,Bachelors,Clerical,1,0,"244, rue de la Centenaire",2015-09-13,0-1 Miles

In [ ]:
customer.columns.to_list()

['CustomerKey',
 'FirstName',
 'LastName',
 'FullName',
 'BirthDate',
 'MaritalStatus',
 'Gender',
 'YearlyIncome',
 'TotalChildren',
 'NumberChildrenAtHome',
 'Education',
 'Occupation',
 'HouseOwnerFlag',
 'NumberCarsOwned',
 'AddressLine1',
 'DateFirstPurchase',
 'CommuteDistance']

In [ ]:
customer = customer[['CustomerKey','Gender','BirthDate','MaritalStatus','YearlyIncome']].copy()

In [ ]:
customer.shape

(18484, 5)

In [ ]:
customer.isnull().sum()

CustomerKey      0
Gender           0
BirthDate        0
MaritalStatus    0
YearlyIncome     0
dtype: int64

# **PRODUCT DATA SET**

In [ ]:
product

,ProductKey,ProductName,SubCategory,Category,StandardCost,Color,ListPrice,DaysToManufacture,ProductLine,ModelName,Photo,ProductDescription,StartDate
0,1,Adjustable Race,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-01-06
1,2,Bearing Ball,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-01-06
2,3,BB Ball Bearing,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-01-06
3,4,Headset Ball Bearings,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-01-06
4,5,Blade,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,ML Bottom Bracket,Bottom Brackets,Components,44.9506,NaN,101.24,1,NaN,ML Bottom Bracket,http://www.avising.com/me/LearnPBI/DataSources...,Aluminum alloy cups; large diameter spindle.,2007-01-07
602,603,HL Bottom Bracket,Bottom Brackets,Components,53.9416,NaN,121.49,1,NaN,HL Bottom Bracket,http://www.avising.com/me/LearnPBI/DataSources...,Aluminum alloy cups and a hollow axle.,2007-01-07
603,604,"Road-750 Black, 44",Road Bikes,Bikes,343.6496,Black,539.99,4,Road,Road-750,http://www.avising.com/me/LearnPBI/DataSources...,Entry level adult bike; offers a comfortable r...,2007-01-07
604,605,"Road-750 Black, 48",Road Bikes,Bikes,343.6496,Black,539.99,4,Road,Road-750,http://www.avising.com/me/LearnPBI/DataSources...,Entry level adult bike; offers a comfortable r...,2007-01-07
605,606,"Road-750 Black, 52",Road Bikes,Bikes,343.6496,Black,539.99,4,Road,Road-750,http://www.avising.com/me/LearnPBI/DataSources...,Entry level adult bike; offers a comfortable r...,2007-01-07

In [ ]:
product.columns.to_list()

['ProductKey',
 'ProductName',
 'SubCategory',
 'Category',
 'StandardCost',
 'Color',
 'ListPrice',
 'DaysToManufacture',
 'ProductLine',
 'ModelName',
 'Photo',
 'ProductDescription',
 'StartDate']

In [ ]:
product = product[['ProductKey','ProductName','SubCategory','Category','ProductLine']].copy()

In [ ]:
product.shape

(606, 5)

In [ ]:
product.isnull().sum()

ProductKey       0
ProductName      0
SubCategory    209
Category       209
ProductLine    226
dtype: int64

In [ ]:
product.loc[product['SubCategory'].isnull()].head()

  ProductKey            ProductName SubCategory Category ProductLine
0          1        Adjustable Race         NaN      NaN         NaN
1          2           Bearing Ball         NaN      NaN         NaN
2          3        BB Ball Bearing         NaN      NaN         NaN
3          4  Headset Ball Bearings         NaN      NaN         NaN
4          5                  Blade         NaN      NaN         NaN

In [ ]:
product = product.dropna()

In [ ]:
product.isnull().sum()

ProductKey     0
ProductName    0
SubCategory    0
Category       0
ProductLine    0
dtype: int64

# **TERITORY DATA SET**

In [ ]:
territory.shape

(11, 5)

In [ ]:
territory.columns.to_list()

['SalesTerritoryKey', 'Region', 'Country', 'Group', 'RegionImage']

In [ ]:
territory = territory[['SalesTerritoryKey', 'Region', 'Country', 'Group']].copy()

In [ ]:
territory.isnull().sum()

SalesTerritoryKey    0
Region               1
Country              1
Group                1
dtype: int64

In [ ]:
territory

   SalesTerritoryKey          Region         Country          Group
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe
10                11             NaN             NaN            NaN

In [ ]:
territory = territory.dropna()

In [ ]:
territory

   SalesTerritoryKey          Region         Country          Group
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe
10                11             NaN             NaN            NaN

In [ ]:
territory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SalesTerritoryKey  11 non-null     object
 1   Region             10 non-null     object
 2   Country            10 non-null     object
 3   Group              10 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes

# **SALES DATA SET**

In [ ]:
sales

,ProductKey,OrderDate,ShipDate,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,OrderQuantity,UnitPrice,...,Total sales revenue,Unnamed: 16,Unnamed: 17,Gross Profit,Unnamed: 19,StandardCost,List Price,Unnamed: 22,diif std cost,diff list price
0,310,01-01-2014 00:00,08-01-2014 00:00,21768,1,6,SO43697,1,2,1789.1350,...,3578.2700,0.0,NaN,-764.3184,NaN,2171.2942,3578.2700,NaN,0.0,0.0
1,346,01-01-2014 00:00,08-01-2014 00:00,28389,1,7,SO43698,1,2,1699.9950,...,3399.9900,0.0,NaN,-424.3188,NaN,1912.1544,3399.9900,NaN,0.0,0.0
2,346,01-01-2014 00:00,08-01-2014 00:00,25863,1,1,SO43699,1,2,1699.9950,...,3399.9900,0.0,NaN,-424.3188,NaN,1912.1544,3399.9900,NaN,0.0,0.0
3,336,01-01-2014 00:00,08-01-2014 00:00,14501,1,4,SO43700,1,2,349.5491,...,699.0982,0.0,NaN,-127.1944,NaN,413.1463,699.0982,NaN,0.0,0.0
4,346,01-01-2014 00:00,08-01-2014 00:00,11003,1,9,SO43701,1,2,1699.9950,...,3399.9900,0.0,NaN,-424.3188,NaN,1912.1544,3399.9900,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32523,537,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,2,1,35.0000,...,35.0000,0.0,NaN,21.9100,NaN,13.0900,35.0000,NaN,0.0,0.0
32524,528,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,3,1,4.9900,...,4.9900,0.0,NaN,3.1237,NaN,1.8663,4.9900,NaN,0.0,0.0
32525,485,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,4,1,21.9800,...,21.9800,0.0,NaN,13.7595,NaN,8.2205,21.9800,NaN,0.0,0.0
32526,473,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,5,1,63.5000,...,63.5000,0.0,NaN,39.7510,NaN,23.7490,63.5000,NaN,0.0,0.0
32527,359,30-07-2016 00:00,06-08-2016 00:00,14392,1,1,SO63046,1,1,2294.9900,...,22.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sales.shape

(32528, 25)

In [ ]:
sales.columns.tolist()

['ProductKey',
 'OrderDate',
 'ShipDate',
 'CustomerKey',
 'PromotionKey',
 'SalesTerritoryKey',
 'SalesOrderNumber',
 'SalesOrderLineNumber',
 'OrderQuantity',
 'UnitPrice',
 'TotalProductCost',
 'SalesAmount',
 'TaxAmt',
 'Unnamed: 13',
 'Unnamed: 14',
 'Total sales revenue',
 'Unnamed: 16',
 'Unnamed: 17',
 'Gross Profit ',
 'Unnamed: 19',
 'StandardCost',
 'List Price',
 'Unnamed: 22',
 'diif std cost',
 'diff list price']

In [ ]:
sales

,ProductKey,OrderDate,ShipDate,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,OrderQuantity,UnitPrice,...,Total sales revenue,Unnamed: 16,Unnamed: 17,Gross Profit,Unnamed: 19,StandardCost,List Price,Unnamed: 22,diif std cost,diff list price
0,310,01-01-2014 00:00,08-01-2014 00:00,21768,1,6,SO43697,1,2,1789.1350,...,3578.2700,0.0,NaN,-764.3184,NaN,2171.2942,3578.2700,NaN,0.0,0.0
1,346,01-01-2014 00:00,08-01-2014 00:00,28389,1,7,SO43698,1,2,1699.9950,...,3399.9900,0.0,NaN,-424.3188,NaN,1912.1544,3399.9900,NaN,0.0,0.0
2,346,01-01-2014 00:00,08-01-2014 00:00,25863,1,1,SO43699,1,2,1699.9950,...,3399.9900,0.0,NaN,-424.3188,NaN,1912.1544,3399.9900,NaN,0.0,0.0
3,336,01-01-2014 00:00,08-01-2014 00:00,14501,1,4,SO43700,1,2,349.5491,...,699.0982,0.0,NaN,-127.1944,NaN,413.1463,699.0982,NaN,0.0,0.0
4,346,01-01-2014 00:00,08-01-2014 00:00,11003,1,9,SO43701,1,2,1699.9950,...,3399.9900,0.0,NaN,-424.3188,NaN,1912.1544,3399.9900,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32523,537,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,2,1,35.0000,...,35.0000,0.0,NaN,21.9100,NaN,13.0900,35.0000,NaN,0.0,0.0
32524,528,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,3,1,4.9900,...,4.9900,0.0,NaN,3.1237,NaN,1.8663,4.9900,NaN,0.0,0.0
32525,485,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,4,1,21.9800,...,21.9800,0.0,NaN,13.7595,NaN,8.2205,21.9800,NaN,0.0,0.0
32526,473,30-07-2016 00:00,06-08-2016 00:00,12783,1,6,SO63045,5,1,63.5000,...,63.5000,0.0,NaN,39.7510,NaN,23.7490,63.5000,NaN,0.0,0.0
32527,359,30-07-2016 00:00,06-08-2016 00:00,14392,1,1,SO63046,1,1,2294.9900,...,22.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sales['Unnamed: 14']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
15852   NaN
15853   NaN
15854   NaN
15855   NaN
15856   NaN
Name: Unnamed: 14, Length: 15857, dtype: float64

In [ ]:
sales = sales[['ProductKey',
 'OrderDate',
 'ShipDate',
 'CustomerKey',
 'SalesTerritoryKey',
 'SalesOrderNumber',
 'SalesOrderLineNumber',
 'OrderQuantity',
 'UnitPrice',
 'TotalProductCost',
 'SalesAmount',
 'TaxAmt',
 'Total sales revenue',
 'Gross Profit ']]

In [ ]:
sales

,ProductKey,OrderDate,ShipDate,CustomerKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,OrderQuantity,UnitPrice,TotalProductCost,SalesAmount,TaxAmt,Total sales revenue,Gross Profit
0,310,01-01-2014 00:00,08-01-2014 00:00,21768,6,SO43697,1,2,1789.1350,2171.2942,3578.2700,286.2616,3578.2700,-764.3184
1,346,01-01-2014 00:00,08-01-2014 00:00,28389,7,SO43698,1,2,1699.9950,1912.1544,3399.9900,271.9992,3399.9900,-424.3188
2,346,01-01-2014 00:00,08-01-2014 00:00,25863,1,SO43699,1,2,1699.9950,1912.1544,3399.9900,271.9992,3399.9900,-424.3188
3,336,01-01-2014 00:00,08-01-2014 00:00,14501,4,SO43700,1,2,349.5491,413.1463,699.0982,55.9279,699.0982,-127.1944
4,346,01-01-2014 00:00,08-01-2014 00:00,11003,9,SO43701,1,2,1699.9950,1912.1544,3399.9900,271.9992,3399.9900,-424.3188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32523,537,30-07-2016 00:00,06-08-2016 00:00,12783,6,SO63045,2,1,35.0000,13.0900,35.0000,2.8000,35.0000,21.9100
32524,528,30-07-2016 00:00,06-08-2016 00:00,12783,6,SO63045,3,1,4.9900,1.8663,4.9900,0.3992,4.9900,3.1237
32525,485,30-07-2016 00:00,06-08-2016 00:00,12783,6,SO63045,4,1,21.9800,8.2205,21.9800,1.7584,21.9800,13.7595
32526,473,30-07-2016 00:00,06-08-2016 00:00,12783,6,SO63045,5,1,63.5000,23.7490,63.5000,5.0800,63.5000,39.7510
32527,359,30-07-2016 00:00,06-08-2016 00:00,14392,1,SO63046,1,1,2294.9900,1251.9813,2294.9900,183.5992,22.0000,NaN

In [ ]:
sales = sales.rename(columns={'TaxAmt':"TaxAmount",'Total sales revenue':"TotalSalesRevenue",'Gross Profit':"GrossProfit"})

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32528 entries, 0 to 32527
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            32528 non-null  object
 1   OrderDate             32528 non-null  object
 2   ShipDate              32528 non-null  object
 3   CustomerKey           32528 non-null  object
 4   SalesTerritoryKey     32528 non-null  object
 5   SalesOrderNumber      32528 non-null  object
 6   SalesOrderLineNumber  32528 non-null  int64
 7   OrderQuantity         32528 non-null  int64
 8   UnitPrice             32528 non-null  float64
 9   TotalProductCost      32528 non-null  float64
 10  SalesAmount           32528 non-null  float64
 11  TaxAmount             32528 non-null  float64
 12  TotalSalesRevenue     32528 non-null  float64
 13  Gross Profit          32527 non-null  float64
dtypes: float64(6), int64(2), object(6)
memory usage: 3.5+ MB

In [ ]:
sales['OrderDate'] = pd.to_datetime(sales['OrderDate'],format='mixed')

In [ ]:
sales['ShipDate'] = pd.to_datetime(sales['ShipDate'],format='mixed')

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32528 entries, 0 to 32527
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            32528 non-null  object
 1   OrderDate             32528 non-null  datetime64[ns]
 2   ShipDate              32528 non-null  datetime64[ns]
 3   CustomerKey           32528 non-null  object
 4   SalesTerritoryKey     32528 non-null  object
 5   SalesOrderNumber      32528 non-null  object
 6   SalesOrderLineNumber  32528 non-null  int64
 7   OrderQuantity         32528 non-null  int64
 8   UnitPrice             32528 non-null  float64
 9   TotalProductCost      32528 non-null  float64
 10  SalesAmount           32528 non-null  float64
 11  TaxAmount             32528 non-null  float64
 12  TotalSalesRevenue     32528 non-null  float64
 13  Gross Profit          32527 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(2), object(4)
memory usage: 3.5+ MB

In [ ]:
sales.isnull().sum()

ProductKey              0
OrderDate               0
ShipDate                0
CustomerKey             0
SalesTerritoryKey       0
SalesOrderNumber        0
SalesOrderLineNumber    0
OrderQuantity           0
UnitPrice               0
TotalProductCost        0
SalesAmount             0
TaxAmount               0
TotalSalesRevenue       0
Gross Profit            1
dtype: int64

In [ ]:
sales.dropna()

,ProductKey,OrderDate,ShipDate,CustomerKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,OrderQuantity,UnitPrice,TotalProductCost,SalesAmount,TaxAmount,TotalSalesRevenue,Gross Profit
0,310,2014-01-01,2014-08-01,21768,6,SO43697,1,2,1789.1350,2171.2942,3578.2700,286.2616,3578.2700,-764.3184
1,346,2014-01-01,2014-08-01,28389,7,SO43698,1,2,1699.9950,1912.1544,3399.9900,271.9992,3399.9900,-424.3188
2,346,2014-01-01,2014-08-01,25863,1,SO43699,1,2,1699.9950,1912.1544,3399.9900,271.9992,3399.9900,-424.3188
3,336,2014-01-01,2014-08-01,14501,4,SO43700,1,2,349.5491,413.1463,699.0982,55.9279,699.0982,-127.1944
4,346,2014-01-01,2014-08-01,11003,9,SO43701,1,2,1699.9950,1912.1544,3399.9900,271.9992,3399.9900,-424.3188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32522,361,2016-07-30,2016-06-08,12783,6,SO63045,1,1,2294.9900,1251.9813,2294.9900,183.5992,2294.9900,1043.0087
32523,537,2016-07-30,2016-06-08,12783,6,SO63045,2,1,35.0000,13.0900,35.0000,2.8000,35.0000,21.9100
32524,528,2016-07-30,2016-06-08,12783,6,SO63045,3,1,4.9900,1.8663,4.9900,0.3992,4.9900,3.1237
32525,485,2016-07-30,2016-06-08,12783,6,SO63045,4,1,21.9800,8.2205,21.9800,1.7584,21.9800,13.7595
32526,473,2016-07-30,2016-06-08,12783,6,SO63045,5,1,63.5000,23.7490,63.5000,5.0800,63.5000,39.7510

# **DOWNLOADING THE REVISED DATASETS**

In [ ]:
sales.to_csv("Revised_sales.csv")

In [ ]:
customer.to_csv("Revised_custosmer.csv")

In [ ]:
product.to_csv("Revised_product.csv")

In [ ]:
territory.to_csv("Revised_territory.csv")